*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #9c9c9c;
    display: flex;                  /* делаем body флекс-контейнером */
    justify-content: center;        /* центр по горизонтали */
    align-items: center;            /* центр по вертикали */
    height: 100vh;
}
.flex.container {
   width: 1000px;
   height: 500px;
   background: #838383;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 20px;
    justify-content: center;  /* центрируем содержимое по вертикали */
   align-items: center;      /* центрируем содержимое по горизонтали */
}
.top-section {
    width: 500px;
    height: 200px;
    border: 3px solid rgb(95, 94, 94);
    display: flex;
     gap: 20px;
    padding: 22px 17px;
    border-radius: 10px;
    margin: 0 auto; 
    
}   
.top-section-item{  
     width: calc(25% - 15px);
    width: 30%;
    height: 100%;
    background-color: #5a5a5a;   
        border-radius: 10px;

}
